services:
  apigateway:
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile
    container_name: apigateway
    ports:
      - "7001:8080"  
    environment:
      ASPNETCORE_ENVIRONMENT: Development
#      ASPNETCORE_URLS: http://+:8080
    depends_on:
      - amenityapi
      - authapi
      - boardinghouseapi
      - chatapi
      - contractapi
      - imageapi
      - mailapi
      - notificationapi
      - paymentapi
      - rentalpostsapi
      - reviewapi
      - reviewreportapi
      - roomamenityapi
      - roomapi
      - serviceapi
      - signalrhubapi
      - utilitybillapi
      - utilityreadingapi
      - profileapi
    
  favoritepostapi:
    build:
      context: .
      dockerfile: FavoritePostAPI/Dockerfile
    container_name: favoritepostapi
    ports:
      - "7296:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    
  amenityapi:
    build:
      context: .
      dockerfile: AmenityAPI/Dockerfile
    container_name: amenityapi
    ports:
      - "7111:8080"  
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      
  profileapi:
    build:
      context: .
      dockerfile: AccountAPI/Dockerfile
    container_name: profileapi
    ports:
      - "7211:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
 
  
  authapi:
    build:
      context: .
      dockerfile: AuthApi/Dockerfile
    container_name: authapi
    ports:
      - "7009:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
#      ASPNETCORE_URLS: http://+:8080

  boardinghouseapi:
    build:
      context: .
      dockerfile: BoardingHouseAPI/Dockerfile
    container_name: boardinghouseapi
    ports:
      - "7186:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development  

  chatapi:
    build:
      context: .
      dockerfile: ChatAPI/Dockerfile
    container_name: chatapi
    ports:
      - "7140:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development

  contractapi:
    build:
      context: .
      dockerfile: ContractAPI/Dockerfile
    container_name: contractapi
    ports:
      - "7153:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development

  imageapi:
    build:
      context: .
      dockerfile: ImageAPI/Dockerfile
    container_name: imageapi
    ports:
      - "7080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development  

  mailapi:
    build:
      context: .
      dockerfile: MailApi/Dockerfile
    container_name: mailapi
    ports:
      - "7125:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development  

  notificationapi:
    build:
      context: .
      dockerfile: NotificationAPI/Dockerfile
    container_name: notificationapi
    ports:
      - "7278:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development  

  paymentapi:
    build:
      context: .
      dockerfile: PaymentAPI/Dockerfile
    container_name: paymentapi
    ports:
      - "7212:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development  

  rentalpostsapi:
    build:
      context: .
      dockerfile: RentalPostsAPI/Dockerfile
    container_name: rentalpostsapi
    ports:
      - "7145:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development  

  reviewapi:
    build:
      context: .
      dockerfile: ReviewAPI/Dockerfile
    container_name: reviewapi
    ports:
      - "7037:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development  

  reviewreportapi:
    build:
      context: .
      dockerfile: ReviewReportAPI/Dockerfile
    container_name: reviewreportapi
    ports:
      - "7074:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development  

  roomamenityapi:
    build:
      context: .
      dockerfile: RoomAmenityAPI/Dockerfile
    container_name: roomamenityapi
    ports:
      - "7152:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Production  

  roomapi:
    build:
      context: .
      dockerfile: RoomAPI/Dockerfile
    container_name: roomapi
    ports:
      - "7086:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development  

  serviceapi:
    build:
      context: .
      dockerfile: ServiceAPI/Dockerfile
    container_name: serviceapi
    ports:
      - "7206:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Production  

  signalrhubapi:
    build:
      context: .
      dockerfile: SignalRHubAPI/Dockerfile
    container_name: signalrhubapi
    ports:
      - "7123:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development  

  utilitybillapi:
    build:
      context: .
      dockerfile: UtilityBillAPI/Dockerfile
    container_name: utilitybillapi
    ports:
      - "7008:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development  

  utilityreadingapi:
    build:
      context: .
      dockerfile: UtilityReadingAPI/Dockerfile
    container_name: utilityreadingapi
    ports:
      - "7006:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development  
