services:
  apigateway:
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile
    container_name: apigateway
    ports:
      - "7001:8080"  
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    depends_on:
      - amenityapi

  amenityapi:
    build:
      context: .
      dockerfile: AmenityAPI/Dockerfile
    container_name: amenityapi
    ports:
      - "7111:8080"  
    environment:
      ASPNETCORE_ENVIRONMENT: Development

#  productapi:
#    build:
#      context: .
#      dockerfile: ProductAPI/Dockerfile
#    container_name: productapi
#    ports:
#      - "5002:8080"
#    environment:
#      ASPNETCORE_ENVIRONMENT: Development

#  bookingapi:
#    build:
#      context: .
#      dockerfile: BookingAPI/Dockerfile
#    container_name: bookingapi
#    ports:
#      - "5003:8080"
#    environment:
#      ASPNETCORE_ENVIRONMENT: Development

