services:
#  authapi:
#    build:
#      context: .
#      dockerfile: AuthApi/Dockerfile
#    ports:
#      - "5001:8080"

  contractapi:
    build:
      context: .
      dockerfile: ContractAPI/Dockerfile
    ports:
      - "5003:8080"

#  amenityapi:
#    build:
#      context: .
#      dockerfile: AmenityAPI/Dockerfile
#    ports:
#      - "5004:8080"

  apigateway:
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile
    ports:
      - "8000:8080"
    depends_on:
#      - authapi
      - contractapi
#      - amenityapi

  contractapi-1:
    image: contractapi-1
    build:
      context: .
      dockerfile: ContractAPI/Dockerfile

  contractapi-2:
    image: contractapi-2
    build:
      context: .
      dockerfile: ContractAPI/Dockerfile
